@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navbar{

    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 3px -2px #a9916b;
    width: 100%;
    top: 0;
    position: fixed;
    height: 130px;
    line-height: 100px;
    background: linear-gradient(#a9916b, #e3d6ab);
    transition: 1s;
    padding: 2% 8%;
    width: 100%;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-login-cart .carrinho {
    display: flex;
    width: 21%;
    height: 10%;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #778979;
    text-decoration: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
.nav-menu hr {
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #778979;

}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px, solid #778979;
    border-radius: 75px;
    color: #d78258;
    font-size:20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #d78258;
    color: white;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}